{{#each found}}
  <div class="container-fluid article-container">
      <div class="card">
          <div class="card-header">
              <h3>
                  <a class="article-link" target="_blank" rel="noopener noreferrer" href={{link}}>{{title}}</a>
                  <a class="btn btn-success save">Save Book</a>
              </h3>
          </div>
          <div class="card-body">
              {{price}}
          </div>
      </div>
  </div>
{{/each}}